:root {

    --font-title: 'Merriweather', serif;
    --font-subtitle: 'Golos Text', sans-serif;

    --page-padding-mobile: 20px;
    --page-padding-tablet: 72px;
    --page-padding-desktop: 348.5px;

    --color-text: #313131;
    --color-button-primary: #1f1f1f;
    --color-button-secondary-border: #1f1f1f;
    --color-red-highlight: #F54932;
    --color-light-gray: #D0D0D0;
    --color-blue-link: #3057a2;
    --color-disclaimer-bg: #E9DED4;

    --gap: 20px;
}

* { margin: 0; padding: 0; box-sizing: border-box; }
a { text-decoration: none; color: inherit; }
html { scroll-behavior: smooth; }
body { font-family: var(--font-subtitle); color: var(--color-text); overflow-x: hidden; background: #fff; }